In [7]:
import requests
url = 'http://fuwu.rsj.beijing.gov.cn/nwesqintegralpublic/settlePerson/tablePage?name=&rows=10&page=0'
url2 = 'http://fuwu.rsj.beijing.gov.cn/nwesqintegralpublic/settlePerson/settlePersonDetails?id=21'
res = requests.get(url2)
print(res.status_code)

200

In [43]:
from bs4 import BeautifulSoup

page = requests.get(url2)
soup = BeautifulSoup(page.content, 'lxml')

data = soup.select('body > p > span')

In [128]:
i = 1
url2 = 'http://fuwu.rsj.beijing.gov.cn/nwesqintegralpublic/settlePerson/settlePersonDetails?id={}'.format(str(i))

In [129]:
url2

'http://fuwu.rsj.beijing.gov.cn/nwesqintegralpublic/settlePerson/settlePersonDetails?id=1'

In [138]:
[i for i in range(1,2)]

[1]

In [ ]:
for i in range(2,6032):
    url2 = 'http://fuwu.rsj.beijing.gov.cn/nwesqintegralpublic/settlePerson/settlePersonDetails?id={}'.format(str(i))

In [139]:
# for i in range()
score_df = []
for i in range(2,6034):
    url = 'http://fuwu.rsj.beijing.gov.cn/nwesqintegralpublic/settlePerson/settlePersonDetails?id={}'.format(str(i))
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'lxml')
    score_list = []

    info = soup.select('body > p')[1].get_text().split('\xa0\xa0\xa0')

    score_list.append(info[1][3:])
    score_list.append(info[0][5:])
    score = soup.select('body > p > span')
    score_list.append(float(score[1].get_text()))

    score_det = soup.select('body > table > tbody > tr')


    for i in range(1,len(score_det)):
        score_items = score_det[i].get_text().split('\n')[3]
        score_items = float(score_items)
        score_list.append(score_items)
    score_df.append(score_list)

In [140]:
from pandas.core.frame import DataFrame
score_df = DataFrame(score_df)

In [141]:
score_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,彭俊,北京金诚同达律师事务所,124.17,60.50,11.67,26.0,0.00,0.0,0.0,6.0,20.0,0.0,0.0
1,王硕,中交第四公路工程局有限公司,122.70,62.25,16.66,26.0,-10.21,4.0,0.0,4.0,20.0,0.0,0.0
2,李敏,中海油田服务股份有限公司北京分公司,120.62,61.00,14.79,26.0,-1.17,0.0,0.0,0.0,20.0,0.0,0.0
3,王强,中国石油天然气股份有限公司管道北京输油气分公司,119.25,64.50,20.25,10.5,0.00,4.0,0.0,0.0,20.0,0.0,0.0
4,祁金中,央视动漫集团有限公司,119.16,63.75,15.91,26.0,-10.50,4.0,0.0,0.0,20.0,0.0,0.0

In [142]:
score_df.columns = ['姓名',
'单位名称',
'分值',
'合法稳定就业',
'合法稳定住所',
'教育背景',	    
'扣除取得学历（学位）期间累计的居住及就业分值',	
'职住区域',	
'创新创业',	
'纳税',	    
'年龄',    
'荣誉表彰',	
'守法记录']

In [143]:
score_df.head()

,姓名,单位名称,分值,合法稳定就业,合法稳定住所,教育背景,扣除取得学历（学位）期间累计的居住及就业分值,职住区域,创新创业,纳税,年龄,荣誉表彰,守法记录
0,彭俊,北京金诚同达律师事务所,124.17,60.50,11.67,26.0,0.00,0.0,0.0,6.0,20.0,0.0,0.0
1,王硕,中交第四公路工程局有限公司,122.70,62.25,16.66,26.0,-10.21,4.0,0.0,4.0,20.0,0.0,0.0
2,李敏,中海油田服务股份有限公司北京分公司,120.62,61.00,14.79,26.0,-1.17,0.0,0.0,0.0,20.0,0.0,0.0
3,王强,中国石油天然气股份有限公司管道北京输油气分公司,119.25,64.50,20.25,10.5,0.00,4.0,0.0,0.0,20.0,0.0,0.0
4,祁金中,央视动漫集团有限公司,119.16,63.75,15.91,26.0,-10.50,4.0,0.0,0.0,20.0,0.0,0.0

In [144]:
score_df.to_csv('落户积分信息明细.csv',encoding='gbk')

In [146]:
40/14

2.857142857142857

In [115]:
soup.select('body > p')[1].get_text().split('\xa0\xa0\xa0')

['单位名称：中国石油天然气股份有限公司管道北京输油气分公司 ', '姓名：尚渊源']

In [85]:
score_list = []

for i in range(1,len(score_det)):
    print(i)
    score_items = score_det[i].get_text().split('\n')[3]
    score_items = float(score_items)
    score_list.append(score_items)

1
2
3
4
5
6
7
8
9
10

In [86]:
print(score_list)

[64.5, 14.96, 15.0, 0.0, 4.0, 0.0, 0.0, 16.0, 0.0, 0.0]

In [ ]:
body > table > tbody > tr

In [44]:
data_det = soup.select('body > table > tbody > tr')

In [53]:
data_det[1].get_text()

'\n1\n合法稳定就业\n64.50 \n'

In [59]:
data_det[1].get_text().split('\n').

['', '1', '合法稳定就业', '64.50 ', '']

In [52]:
# for item in data_det:
#     print(item.get_text())
re.findall('\d+',data_det[1].get_text())

['1', '64', '50']

In [40]:
data2 = soup.select('body > p > span')

In [42]:
data2[1].get_text()

'114.46'

In [38]:
import re
re.findall('\d+',data2[1])

TypeError: expected string or bytes-like object

In [39]:
data2[1].get_text()

'114.46'

In [25]:
result = 
for item in data2:
    print(item.strings())
    result={
        'title':item.get_text(),
        'link':item.get('href')
    }
print(result)

TypeError: 'generator' object is not callable

In [10]:
(690+3127)/2102*63/17

6.729473330721441

In [4]:
6817/1142*30

179.08056042031524

In [11]:
18.0+ 31.0+ 20.0+ 26.0+ 63.0+ 29.0+ 24.0+ 14.0+ 30.0+ 19.0+ 35.0+ 28.0+ 33.0+ 20.0+ 20.0+ 26.0+ 27.0+ 23.0+ 23.0+ 20.0+ 1.0+ 1.0+ 5.0+ 467.0+ 17.0+ 19.0+ 15.0+ 25.0+ 16.0+ 28.0+ 37.0+ 14.0+ 30.0+ 34.0+ 19.0+ 13.0+ 13.0+ 9.0+ 1.0+ 1.0+ 75.0+ 15.0+ 31.0+ 19.0+ 13.0+ 25.0+ 1.0+ 2.0+ 2.0+ 1.0+ 1.0+ 133.0+ 50.0+ 25.0+ 32.0+ 15.0+ 14.0+ 11.0+ 40.0+ 140.0+ 19.0+ 22.0+ 15.0+ 125.0

2120.0

In [12]:
def cal_L_spark(create_dt,vlt,bp,usable_inv_qty,usable_inv_qty_pbs,act_qty,plan_qty,dts,sales,ave_demand,change_dts):
    if type(create_dt)==datetime.datetime:
        create_dt = create_dt.date()
    if usable_inv_qty_pbs != 100000086:
        cur_inv = usable_inv_qty_pbs
    else:
        cur_inv = usable_inv_qty
    if change_dts is None:
        change_dts = []
    network_mark=0
    order_qty = act_qty
    post_inv = cur_inv+act_qty
    post_inv_2  =cur_inv+plan_qty
    demand_dict = dict(zip(dts,sales))
    his_ave_demand = ave_demand
    L_cur_inv = 0
    L_order_qty = 0
    L_post_inv = 0
    L_post_inv_2 = 0
    period = min((sale_end_date.date()-create_dt).days,150)
    period = max(period,0)
    for date in pd.date_range(start=create_dt.strftime('%Y-%m-%d'),periods = period,closed='left'):
        L_cur_inv += 1
        L_order_qty += 1
        L_post_inv += 1
        L_post_inv_2+=1
        if date.strftime('%Y-%m-%d') in demand_dict.keys():
            if date.strftime('%Y-%m-%d') in change_dts:
                network_mark=1
            day_demand = demand_dict[date.strftime('%Y-%m-%d')]
            cur_inv -= day_demand #可用库存-销量
            order_qty -= day_demand #采购实际到货 - 销量
            post_inv -= day_demand #可用库存+购买 -销量
            post_inv_2 -= day_demand
            if order_qty <= 0:
                L_order_qty -= 1 #购买实际到货可消耗的天数
            if cur_inv <= 0:
                L_cur_inv -= 1 #可用库存可消耗的天数
            if post_inv <= 0: ##总体可消耗的天数
                L_post_inv-=1
            if post_inv_2 <= 0: ##总体可消耗的天数
                L_post_inv_2-=1
            if post_inv<=0 and post_inv_2 <= 0:
                return [L_cur_inv - vlt,
                        L_cur_inv - vlt-bp,
                        L_order_qty,
                        L_post_inv - vlt - bp,
                        L_post_inv_2-vlt-bp,
                        network_mark]
    L_cur_inv_left = int(cur_inv / his_ave_demand) if cur_inv > 0 and his_ave_demand > 0.0 else 0
    L_order_qty_left = int(order_qty / his_ave_demand) if order_qty > 0 and his_ave_demand > 0.0 else 0
    L_post_inv_left = int(post_inv / his_ave_demand) if post_inv > 0 and his_ave_demand > 0.0 else 0
    L_post_inv_2_left = int(post_inv_2 / his_ave_demand) if post_inv_2 > 0 and his_ave_demand > 0.0 else 0
    return [          L_cur_inv + L_cur_inv_left - vlt,
                      L_cur_inv + L_cur_inv_left - vlt - bp,
                      L_order_qty + L_order_qty_left,
                      L_post_inv + L_post_inv_left - vlt - bp,
                      L_post_inv_2+L_post_inv_2_left-vlt-bp,
                      network_mark]

In [13]:
create_dt = '2019-12-06'
vlt = 10
bp = 7
usable_inv_qty = 690
usable_inv_qty_pbs = 100000086
act_qty = 3127
plan_qty = 3127
dts = ['2019-12-15',' 2019-12-16',' 2019-12-17',' 2019-12-18',' 2019-12-19',' 2019-12-20',' 2019-12-21',' 2019-12-22',' 2019-12-23',' 2019-12-24',' 2019-12-25',' 2019-12-26',' 2019-12-27',' 2019-12-28',' 2019-12-29',' 2019-12-30',' 2019-12-31',' 2020-01-01',' 2020-01-02',' 2020-01-03',' 2020-01-04',' 2020-01-06',' 2020-01-08',' 2020-01-09',' 2020-01-10',' 2020-01-11',' 2020-01-12',' 2020-01-13',' 2020-01-14',' 2020-01-15',' 2020-01-16',' 2020-01-17',' 2020-01-18',' 2020-01-19',' 2020-01-20',' 2020-01-21',' 2020-01-22',' 2020-01-23',' 2020-01-26',' 2020-01-27',' 2020-02-01',' 2020-02-02',' 2020-02-07',' 2020-02-08',' 2020-02-09',' 2020-02-10',' 2020-02-12',' 2020-02-13',' 2020-02-14',' 2020-02-15',' 2020-02-17',' 2020-02-18',' 2020-02-19',' 2020-02-20',' 2020-02-21',' 2020-02-22',' 2020-02-23',' 2020-02-24',' 2020-02-25',' 2020-02-26',' 2020-02-27',' 2020-02-28',' 2020-02-29',' 2020-03-01']
sales = [18.0, 31.0, 20.0, 26.0, 63.0, 29.0, 24.0, 14.0, 30.0, 19.0, 35.0, 28.0, 33.0, 20.0, 20.0, 26.0, 27.0, 23.0, 23.0, 20.0, 1.0, 1.0, 5.0, 467.0, 17.0, 19.0, 15.0, 25.0, 16.0, 28.0, 37.0, 14.0, 30.0, 34.0, 19.0, 13.0, 13.0, 9.0, 1.0, 1.0, 75.0, 15.0, 31.0, 19.0, 13.0, 25.0, 1.0, 2.0, 2.0, 1.0, 1.0, 133.0, 50.0, 25.0, 32.0, 15.0, 14.0, 11.0, 40.0, 140.0, 19.0, 22.0, 15.0, 125.0]
ave_demand = 35.05
change_dts = None

In [18]:
import datetime
sale_end_date = '2019-03-01'
cal_L_spark(create_dt,vlt,bp,usable_inv_qty,usable_inv_qty_pbs,act_qty,plan_qty,dts,sales,ave_demand,change_dts)

AttributeError: 'str' object has no attribute 'date'